<div class="card">
  <div class="card-body">
    <h4 class="card-title">Trainingsplan</h4>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">
      <%= month_calendar do |date| %>
        <% if (training = @trainings.detect {|t| t.t_date == date}) %>
          <%= link_to(training.title, user_training_path(current_user, training), class: "page-link") %>
        <% else %>
          <%= date %>
        <% end %>
      <% end %>
    </p>
    <div class="bottom-nav">
      <span><%= link_to "Training List", user_training_index_path(user_id: current_user.id), class: "btn btn-primary" %></span>
  </div>
  </div>
</div>