<div class="card">
  <div class="card-block custom-card">
    <h4 class="card-title">User:</h4>
    <p>Email: <%= @user.email %></p>
    <a class="card-link"><%= link_to "Registration Settings", edit_user_registration_path %></a>
  </div>
</div>